### https://raw.github.com/github/gitignore/218a941be92679ce67d0484547e3e142b2f5f6f0/Erlang.gitignore

.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/


