{<<"name">>,<<"nkferl">>}.
{<<"version">>,<<"0.1.2">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"nkferl">>}.
{<<"maintainers">>,[<<"tayutayura">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"nkf library implemented in NIFs.">>}.
{<<"files">>,
 [<<"src/nkferl.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"c_src/Makefile">>,
  <<"c_src/nkf/config.h">>,<<"c_src/nkf/nkf.c">>,<<"c_src/nkf/nkf.h">>,
  <<"c_src/nkf/utf8tbl.c">>,<<"c_src/nkf/utf8tbl.h">>,<<"c_src/nkf_nif.c">>,
  <<"rebar.config">>,<<"src/nkferl.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/tayutayura/nkferl">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
